
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0%;
}

body{
    background-color: darkgrey;
}

body>div#todo {
    width: 80%;
    margin: auto;
    background-color: #CCCC66;

}

div#aliniado{
    margin: auto;
    display: flex;
    flex-direction: row;
}

div#cabeza{
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 60em;
}


div#alinIzquierda {
    display: flex;
    justify-content: space-between;
    margin-left: 3em;
}


div#alinCenter {
    display: flex;
    justify-content: space-between;
    margin-right: 3em;

}

div#alinDerecha {
    display: flex;
    padding: 1em;
}


aside {
    float: right;
    background-color: aqua;
    width: 250px;
    height: 600px;
    padding: 25px;
}

a:link{
    color: blue;
}

a:visited{
    color: beige;
    background-color: #CCCC66;
}
a:hover{
    color: #CCCC66;
}

ul {

    display: inline-flex;
    background-color: brown;
    border: solid 1px black;
    

}

li {
    background-color: brown;
    list-style: none;
    padding: 1em 25px;
    border: solid 1px black;
}

nav {
    border: solid 1px black;
    background-color: blue;
    padding: 0;
    margin: 0;
}

section {
    background-color: burlywood;
    padding: 15px;
}

section > article {
    background-color: darkgrey;
}

footer {
    text-align: center;
    background-color: cadetblue;
}
