aside{
    float: right;
    border: solid 1px black;
    background-color: aqua;
    width: 250px;
    height: 685px;
    margin: 10px;
    padding: 25px;
}
header{
    text-align: center;
    background-color: cadetblue;
    border: solid 1px black;
}
hgroup div img{
    border: solid 1px black;
    display:block;
    margin:auto;
    }
    ul{

        display:inline-flex;


    }
    li{
        background-color: brown;
        list-style:none;
        padding: 5px 25px;
    }
    nav{
        border: solid 1px black;
        background-color: blue;
    }
    section{
        background-color: burlywood;
        padding: 15px;
    }
    article{
        background-color:darkgrey;
    }
    footer{
        text-align: center;
        background-color: cadetblue;
    }

